<% content_for :page_header, "Symposium" %>

<table class="forums">
  <tr class="table-header">
    <th>Forum</th>
    <th>Last Poster</th>
    <th>Topics</th>
    <% if can? :manage, Forum; %><th>Moderator</th><% end %>
  </tr>

<%= render @forums %>

</table>

<% if can? :create, Forum %>
  <%= link_to 'New Forum', new_forum_path, class: "btn primary" %>
<% end %>
