<% content_for :page_header, "Members" %>
<% breadcrumbize do
  ["Members"]
end
%>

<table class="bordered-table">
  <thead>
    <td>Member</td>
    <td>Joined</td>
  </thead>
<%= render @users %>
</table>
