.call-to-register {
  text-align: right;
}

#forum-tabs {
  //font-size: 16px;
  padding-left: 25%;
  //[class^="icon-"], [class*=" icon-"] {
    //vertical-align: baseline;
  //}
}

.forum-view-controls {
  text-align: right;
}
